doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fotaza 2.0
    link(rel="stylesheet", href="/css/estilos.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    header
      nav.navbar
        .nav-logo
          a(href="/")
        .nav-links
          a(href="/login") 
          a(href="/registro") 

    main.container
      block content

    footer
      p &copy; 2026 Fotaza 2.0 - Desarrollado por Lourdes Ortiz