doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fotaza 2.0
    link(rel="stylesheet", href="/css/estilos.css")
  body
    header
      nav.navbar
        .nav-logo
          a(href="/") FOTAZA
        .nav-links
          a(href="/") Feed
          if usuarioId
            a(href="/mi-perfil") Mi Perfil
            span.user-badge ¡Hola, @#{nombreUsuario}!
            a.btn-logout(href="/api/usuarios/logout") Cerrar Sesión
          else
            a(href="/login") Iniciar Sesión
            a(href="/registro") Registro

    main.container
      block content

    footer
      p &copy; 2026 Fotaza 2.0 - Desarrollado por Lourdes Ortiz